body{
                font-family: Arial;
            }
            .js-todo-List,
            .todo-input-grid{
                display: grid;
                grid-template-columns: 250px 150px 100px;
                column-gap: 10px;
                row-gap: 10px;
                align-items: center;
            }
            .todo-input-grid{
                align-items: stretch;
                margin-bottom: 10px;
            }

            .is-completed {
                text-decoration: line-through;
                color: gray;
                font-style: italic;
            }

            .js-nameInput ,
            .js-date{
                font-size: 16px;
                padding: 7px;
            }
            .addButton{
                background-color: green;
                color: aliceblue;
                border: none;
                font-size: 16px;
                cursor: pointer;
            }
            .deleteButton{
                background-color: rgb(216, 23, 23);
                color: aliceblue;
                border: none;
                font-size: 16px;
                cursor: pointer;
                padding: 7px;
            }
