body {
  background-color: rgb(39, 39, 39);
  color: aliceblue;
  font-family: arial;
}
button {
  background-color: transparent;
  border-radius: 50px;
  cursor: pointer;
  
  margin-right: 10px;
  padding: 17px;
}
.rock-img,
.paper-img,
.scissors-img {
  height: 200px;
}
.reset-button,
.auto-play {
  
  border: none;
  font-size: 15px;
  padding: 8px 15px;
  cursor: pointer;
}
.move-icon {
  height: 35px;
  background-color: transparent;
  border-radius: 50px;
  cursor: pointer;
  border: 2px solid white;
  margin-right: 10px;
  padding: 17px;
}
