.header{
  color: aliceblue;
}
.pass-length{
  cursor: pointer;
}
.copy-button{
  background: rgb(1, 131, 244);
  color: white;
  padding: 8px;
  border: none;
  border-radius: 7px;
}
.pass-options{
  color: orange;
}
.pass-box{
  color:orange;
  background:white;
  border: none;
  padding-top: 8px;
  padding-bottom: 8px;
  border-radius: 4px;
  
}