div {
    /* width:100px; */
    height: 100px;
}
.icon{
    /* opacity: 0.9; */
    /* size: 100px; */
    height: 100px;
    width: 110px;
    border-radius: 100px;
    border-color: brown;
    background-color: aqua;
    display: inline;
    

}
.search{
    margin-left: 100px;
    object-position: top;
    vertical-align: text-bottom;
    border-radius: 50px;
    border-width: 2px;
}

